@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --very-light-gray:  hsl(0, 0%, 95%);
    --font-size: 15px;
}


body{
    background-color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#card{
    display: flex;
    margin: 0 5rem;
    width: 60vw;
    height: 450px;
    
}

#card .sedans{
    background-color: var(--Bright-orange);
    padding: 2.5rem;
    flex-basis: 33.33%;
}

.sedans .title{
    color: var(--very-light-gray);
    text-transform: uppercase;
    margin: 1.2rem 0rem;
    font-weight: 700;
}

.sedans p{
    color: var(--paragraph);
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 5rem;
    line-height: 25px;
}

.sedans .btn{
    background-color: var(--very-light-gray);
    color: var(--Bright-orange);
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    padding: 12px;
    cursor: pointer;
}

.sedans .btn:hover{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

#card .jeeps{
    background-color: var(--Dark-cyan);
    padding: 2.5rem;
    flex-basis: 33.33%;
}

.jeeps .title{
    color: var(--very-light-gray);
    text-transform: uppercase;
    margin: 1.2rem 0rem;
    font-weight: 700;
}

.jeeps p{
    color: var(--paragraph);
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 5rem;
    line-height: 25px;
}

.jeeps .btn{
    background-color: var(--very-light-gray);
    color: var(--Bright-orange);
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    padding: 12px;
    cursor: pointer;
}

.jeeps .btn:hover{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}


#card .luxury{
    background-color: var(--Very-dark-cyan);
    padding: 2.5rem;
    flex-basis: 33.33%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.luxury .title{
    color: var(--very-light-gray);
    text-transform: uppercase;
    margin: 1.2rem 0rem;
    font-weight: 700;
}

.luxury p{
    color: var(--paragraph);
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 3.8rem;
    line-height: 25px;
}

.luxury .btn{
    background-color: var(--very-light-gray);
    color: var(--Bright-orange);
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    padding: 12px;
    cursor: pointer;
}

.luxury .btn:hover{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

/* responsive styles */

@media(max-width: 425px){
    #card{
        flex-direction: column;
        width: 80vw;
        margin: 900px auto;
    }
    #card .sedans{
        padding: 2.5rem;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
       
    }
    
    .sedans .title{
        margin: 1.2rem 0rem;
       
    }
    
    .sedans p{
        margin-bottom: 4rem;
    }
    
    .sedans .btn{
        border-radius: 20px;
        padding: 12px;
       
    }
    
    #card .jeeps{
        padding: 2.5rem;
    }
    
    .jeeps .title{
        margin: 1.2rem 0rem;
    }
    
    .jeeps p{
        margin-bottom: 4rem;
    }
    
    .jeeps .btn{
        border-radius: 20px;
        padding: 12px;
    }
     
    #card .luxury{
        padding: 2.5rem;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    
    .luxury .title{
        margin: 1.2rem 0rem;
    }
    
    .luxury p{
        margin-bottom: 4rem;
    }
    
    .luxury .btn{
        padding: 12px;
    }
    
    
    
}

@media(min-width: 426px) and (max-width: 768px){
    #card{
        flex-direction: column;
        width: 70vw;
        margin: 900px auto;
    }
    #card .sedans{
        padding: 2.5rem;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
       
    }
    
    .sedans .title{
        margin: 1.2rem 0rem;
       
    }
    
    .sedans p{
        margin-bottom: 4rem;
    }
    
    .sedans .btn{
        border-radius: 20px;
        padding: 12px;
       
    }
    
    #card .jeeps{
        padding: 2.5rem;
    }
    
    .jeeps .title{
        margin: 1.2rem 0rem;
    }
    
    .jeeps p{
        margin-bottom: 4rem;
    }
    
    .jeeps .btn{
        border-radius: 20px;
        padding: 12px;
    }
     
    #card .luxury{
        padding: 2.5rem;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    
    .luxury .title{
        margin: 1.2rem 0rem;
    }
    
    .luxury p{
        margin-bottom: 4rem;
    }
    
    .luxury .btn{
        padding: 12px;
    }
    

}
